<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>Sillon del Entretenimiento</title>
</head>
<body>
    <div class="flex-row p-3" id="top_row">
        <div class="p-1 g-500 sp-3">
            TRENDING:
        </div>
        <div class="align-item-right">
            <input type="text" placeholder="SEARCH" id="input_busqueda">
        </div>
    </div>
    <div class="flex-row top_second_row" id='barra_menu'>
        <div class="align-item-center titulo_pagina change-cursor-on-hover" onclick="document.location = 'index.html'">
            Sillón del Entretenimiento
        </div>
        <div class="align-item-right hidden-if-less-than-768">
            <div class="nav-bar flex-row p-0 flex-wrap">
                <div class="w-m-50 w-l-25" id="menu_noticias" onclick="document.location = 'noticias.html'">Noticias</div>
                <div class="w-m-50 w-l-25" onclick="document.location = 'videojuegos.html'">Videojuegos</div>
                <div class="w-m-50 w-l-25" onclick="document.location = 'series.html'">Series</div>
                <div class="w-m-50 w-l-25" onclick="document.location = 'peliculas.html'">Películas</div>
            </div>
        </div>
        <div class="hidden-if-more-than-1285" id="boton_menu" onclick="mostrarMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="flex-row" id="panel_principal">
        <div class="flex-column flex-grow" id="panel_izquierdo">
            <div class="flex-row" id="panel_cards_noticias">
                <div class="align-item-left align-item-center">
                    <button class="boton_nav_cards" id="boton_izq"><</button>
                </div>
                
                <div class="b-dark-gray flex-column w-s-100 m-t-3" id="menu_mostrar_noticias">
                    <!-- Imagen y título de noticia -->
                </div>
                
                <div class="align-item-right align-item-center">
                    <button class="boton_nav_cards" id="boton_der">></button>
                </div>
            </div>
            <div class="m-t-3 flex-row flex-grow" id="panel_cards">
                <div class="flex-column m-s-3">
                    <div class="b-red red-accent-card"></div>
                    <div class="b-dark-gray title-card">Videojuegos</div>
                    <div class="b-light-gray content-card text-center" id="img_card_vid">
                        <!-- Agregar imagen de la última noticia de videojuegos -->
                    </div>
                    <div class="b-dark-gray flex-grow comment-card" id="text_card_vid">
                        <!-- Título -->
                    </div>
                </div>
                <div class="flex-column m-s-3">
                    <div class="b-red red-accent-card"></div>
                    <div class="b-dark-gray title-card">Series</div>
                    <div class="b-light-gray content-card text-center" id="img_card_ser">
                        <!-- Agregar imagen de la última noticia de series -->
                    </div>
                    <div class="b-dark-gray flex-grow comment-card" id="text_card_ser">
                        <!-- Título y resumen de la última noticia -->
                    </div>
                </div>
                <div class="flex-column m-s-3">
                    <div class="b-red red-accent-card"></div>
                    <div class="b-dark-gray title-card">Peliculas</div>
                    <div class="b-light-gray content-card text-center" id="img_card_pel">
                        <!-- Agregar imagen de la última noticia de películas -->
                    </div>
                    <div class="b-dark-gray flex-grow comment-card" id="text_card_pel">
                        <!-- Título y resumen de la última noticia -->
                    </div>
                </div>
            </div>
        </div>
        <div class=" flex-column align-item-right registro_control" id="panel_registro">
            <div class="p-2 sp-2 text-center" id="titulo_registro">
                Login
            </div>
            <div class="titulo_registro_secundario sp-2 text-center">
                Nombre de usuario
            </div>
            <input class="background_input text-center" type="text" id="nombre_usuario">
            <div class="titulo_registro_secundario text-center"> 
                Contraseña
            </div>
            <input class="background_input" type="password" id="input_contrasena">
            <div class="titulo_registro_secundario flex-row">
                <input type="checkbox"><span>Recuerdame</span>
            </div>
            <div class="p-1 text-center">
                <button class="boton_rojo change-cursor-on-hover" id="boton_login">INICIAR SESIÓN</button>
            </div>
            <div class="flex-column p-2">
                <a href="registro.html" class="" onclick="document.location = 'registro.html'">Registrarse</a>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        <div id="panel_comentarios_recientes">
            <div>

            </div>
        </div>
    </div>
    <!-- Menu para móvil -->
    <div class="flex-column text-center" id="menu_movil">
        <!-- Aquí insertar menú para móvil -->
    </div>
    <script src="../JS/api_url.js"></script>
    <script src="../JS/login.js"></script>
    <script src="../JS/busqueda.js"></script>
    <script src="../JS/noticias.js"></script>
    <script src="../JS/menu_movil.js"></script>
    <script src="../JS/menu.js"></script>
    <script src="../JS/index.js"></script>
</body>
</html>