php_flag display_errors on 

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header always set Access-Control-Allow-Origin *
Header always set Access-Control-Allow-Methods *
Header always set Access-Control-Allow-Headers *

#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php [L]

#Sesiones
RewriteRule ^sesiones$ Controllers/sesionController.php [L]

#Noticias
RewriteRule ^noticias$ Controllers/noticiasController.php [L]
RewriteRule ^noticias/num_noticias=([0-9]+)$ Controllers/noticiasController.php?num_noticias=$1 [L]
RewriteRule ^noticias/num_noticias=([0-9]+)&seccion=([A-z]+)$ Controllers/noticiasController.php?num_noticias=$1&seccion=$2 [L]
RewriteRule ^noticias/id_noticia=([0-9]+)$ Controllers/noticiasController.php?id_noticia=$1 [L]

#Comentarios
RewriteRule ^comentarios$ Controllers/comentariosController.php [L]
RewriteRule ^comentarios/id_noticia=([0-9]+)$ Controllers/comentariosController.php?id_noticia=$1 [L]
RewriteRule ^comentarios/id_comentario=([0-9]+)$ Controllers/comentariosController.php?id_comentario=$1 [L]
